@import "tailwindcss";
/* @font-face {
  font-family: Dx-Restcal; 
  src: url("src\fonts\Dx-Restcal-Free Font\DxRestcal-Medium.otf") format("otf");
  font-style: medium;
} */ /* talvez essa fonte não funcione (suporte do tailwind)*/

@theme {
  /* --font-dxrestcal: Dx-Restcal, "sans serif"; */
  --color-logo-primary: #2F27CE;
  --text-logo-primary: #2F27CE;
  --text-white-text: #FBFBFE;
  --color-white-div: #FBFBFE;
  --color-sidebar-button: #E4E7F5;
  --color-sidebar-text: #082431;
  --color-sidebar-selected-text: #433BFF;
}