@import "tailwindcss";
 
@font-face {
  font-family: Lato;
  src: url("../src/assets/fonts/Lato-Bold.ttf");  
}  

@theme {
  --font-lato: Lato, "sans-sarif";
  --color-logo-primary: #2F27CE;
  --text-logo-primary: #2F27CE;
  --text-white-text: #FBFBFE;
  --color-white-div: #FBFBFE;
  --color-sidebar-button: #E4E7F5;
  --color-sidebar-text: #082431;
  --color-sidebar-selected-text: #433BFF;
}